.header {
  padding: 20px 0;
  background-color: #fff;
}
.header_content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.logo {
  max-width: 125px;
  width: 100%;
}
